.signin-container {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  height: 100vh;
  background-color: #565f70;
}

.signin-card {
  background-color: #e7eeff;
}

.signin-text {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}

.signin-input {
  width: 100%;
}

.signin-buttons {
  margin-top: 0.5rem;
}

.signin-button-signin {
  width: 100%;
}

.signin-button-signup {
  width: 100%;
  margin-bottom: 0.5rem;
}
