<div class="login-container">
  <mat-card class="login-card">
    <mat-card-title class="login-title">Hello!</mat-card-title>

    <mat-card-content class="login-text"
      >Fill in your username and password to sign in.</mat-card-content
    >

    <mat-card-content class="login-form-container">
      <form class="login-form">
        <mat-form-field class="login-input">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Enter your username" />
        </mat-form-field>

        <mat-form-field class="login-input">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter your username" />
        </mat-form-field>

        <mat-divider [inset]="true"></mat-divider>

        <div class="login-buttons">
          <a class="login-button-signin" mat-raised-button color="primary">
            SIGN IN
          </a>
          <a
            routerLink="/signin"
            class="login-button-signup"
            mat-stroked-button
          >
            DON'T HAVE AN ACCOUNT? SIGN UP NOW!
          </a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
